#move {
    color: red;
}

body {
    padding: 0px 5px;
    background-color: #efefef;
}

.navbar-brand {
    font-size: 25px !important;
    color: #fff !important;
}

#services,
#advantages,
#type,
#structure {
    margin: 10px 0px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid#000;
}

.navbar-inverse .navbar-nav li a {
    color: #fff !important;
}

.navbar-inverse .navbar-nav li a:hover {
    color: red !important;
}